.header {
  display: flex;
  gap: 8px;
  padding: 12px 12px 16px 8px;
  align-items: center;
  height: 60px;

  .logo {
    svg {
      width: 32px;
      height: 32px;
    }
  }

  .title {
    font-size: 16px;
  }

  .header-buttons {
    margin-left: auto;
    display: flex;
    gap: 24px;
    align-items: center;

    .settings-button {
      cursor: pointer;

      svg {
        width: 22px;
        height: 22px;
      }
    }

    .side-panel-button {
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}