@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font: inherit;
  font-weight: 400;
}

.main-view {
  width: 320px;
  min-height: 300px;
  padding-bottom: 16px;
  font-family: "Lexend";
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  color: var(--on-background-color);

  .header {
    display: flex;
    gap: 8px;
    padding: 12px 12px 16px 8px;
    align-items: center;
    height: 60px;
    user-select: none;

    .logo {
      svg {
        width: 32px;
        height: 32px;
      }
    }

    .title {
      font-size: 16px;
    }

    .settings-button {
      margin-left: auto;
      cursor: pointer;

      svg {
        width: 22px;
        height: 22px;
      }
    }
  }

  .session-title,
  .unsaved-windows-title,
  .settings-title {
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 700;
    border: 1px solid var(--outline-color);
    background-color: var(--surface-color);
    color: var(--on-surface-color);
  }

}