.sessions-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  overflow: hidden;

  .sessions {
    overflow-y: scroll;
    padding-left: 1px;
    margin-right: 2px;

    &::-webkit-scrollbar {
      background-color: transparent;
      width: 6px;
      border-radius: 8px;
      padding: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgb(200, 200, 200);
      border-radius: 8px;
    }
  }


  .new-session-button {
    display: flex;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    user-select: none;
    font-size: 12px;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: var(--session-hover-color);

      span {
        text-decoration: underline;
      }
    }
  }

  .get-session-title-container {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 8px;
    user-select: none;
    height: 44px;

    input {
      background-color: var(--background-color);
      color: var(--on-background-color);
    }

    .confirm-title-button,
    .close-get-title-button {
      padding: 6px 4px;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background-color: var(--icon-button-hover);
      }
    }

    input {
      flex-grow: 1;
      border: none;
      outline: none;
    }

    button {
      flex-shrink: 0;
    }
  }
}