.about-us-view {
  .items-container {
    display: flex;
    gap: 16px;
    padding: 16px;
    flex-direction: column;

    .item {
      display: flex;
      gap: 8px;
    }

    .email {
      justify-content: space-between;
      align-items: center;

      .text {
        display: flex;
        gap: 8px;
      }
    }
  }
}