.backups-view {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .backups-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: scroll;

    .backup-card {
      padding: 0 8px;
      display: flex;

      .details {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .title {
          font-size: 12px;
        }

        .date,
        .status,
        .related-item {
          font-size: 10px;
          color: var(--on-background-variant-color);
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        .load-backup {
          background-color: var(--surface-color);
          border: 1px solid var(--outline-color);
          padding: 4px 8px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &:hover {
            background-color: var(--surface-hover-color);
          }

          &.loaded {
            cursor: default;

            &:hover {
              background-color: var(--surface-color);
            }
          }
        }

        .remove-backup {
          flex-shrink: 0;
          padding: 6px 4px;
          border-radius: 8px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          svg {
            width: 14px;
            height: 14px;
          }

          &:hover {
            background-color: var(--icon-button-hover);
          }
        }
      }
    }

    .get-backup-title-container {
      display: flex;
      padding: 12px;
      align-items: center;
      gap: 8px;
      user-select: none;
      height: 44px;

      input {
        background-color: var(--background-color);
        color: var(--on-background-color);
        flex-grow: 1;
        border: none;
        outline: none;
      }

      .confirm-title-button,
      .close-get-title-button {
        padding: 6px 4px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 14px;
          height: 14px;
        }

        &:hover {
          background-color: var(--icon-button-hover);
        }
      }
    }

    .new-backup-button {
      display: flex;
      padding: 12px 8px;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      user-select: none;
      font-size: 12px;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: var(--background-hover-color);

        span {
          text-decoration: underline;
        }
      }
    }
  }
}