.settings-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .toggle-switch-container {
    flex-shrink: 0;
  }

  .items-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 4px;

    .item {
      flex-shrink: 0;
      padding: 6px 12px;
      font-size: 11px;
      display: flex;
      gap: 8px;
      align-items: center;

      .heart-icon {
        font-size: 20px;
      }

      .title {
        flex-grow: 1;
        font-size: 12px;
        display: flex;
        flex-direction: column;
        gap: 4px;

        .desc {
          font-size: 10px;
          color: var(--on-background-variant-color)
        }
      }

      .selector {
        flex-shrink: 0;
      }

      .reset-button {
        background-color: var(--surface-color);
        border: 1px solid var(--outline-color);
        width: 64px;
        height: 28px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover {
          background-color: var(--surface-hover-color);
        }
      }
    }

    .nav {
      cursor: pointer;

      svg {
        font-size: 24px;
      }

      &:hover {
        background-color: var(--background-hover-color);
      }
    }
  }
}