.settings-view {
  width: 100%;
  height: 100%;

  .items-container {
    display: flex;
    flex-direction: column;

    .item {
      padding: 12px;
      font-size: 11px;
      display: flex;
      gap: 8px;
      align-items: center;
      height: 40px;

      .title {
        flex-grow: 1;
      }

      .selector {
        flex-shrink: 0;
      }
    }
  }
}