.newwindow-alert {
  background-color: var(--surface-color);
  color: var(--on-surface-color);
  border: 1px solid var(--outline-color);
  right: 20px;
  top: 20px;
  padding: 15px;
  border-radius: 5px;
  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.close-alert,
.save-session {
  background-color: var(--alert-error);
  color: var(--on-surface-color);
  border: 1px solid var(--outline-color);
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 28px;
  display: flex;
}