.newwindow-alert {
  background-color: #fcfcfc;
  color: #101010;
  right: 20px;
  top: 20px;
  padding: 15px;
  border-radius: 5px;
  position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

.close-alert,
.save-session {
  background-color: #f7f7ec;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 98px;
  height: 28px;
  display: flex;
}