.unsaved-windows-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .unsaved-windows {
    overflow-y: scroll;
  }

  .unsaved-window {
    cursor: default;
    flex-shrink: 0;
    transition: background-color 0.13s ease-in;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
    border-bottom: 1px solid #E8E8E8;
    height: 40px;

    .title {
      flex-grow: 1;
      white-space: nowrap;
      text-align: start;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
      display: flex;
      gap: 8px;
      align-items: center;

      .tabs-count {
        border: 1px solid var(--outline-color);
        border-radius: 4px;
        padding: 4px 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        font-weight: 700;
      }
    }

    .add-as-session-button {
      display: flex;
      align-items: center;
      padding: 6px 8px;
      font-weight: 700;
      border-radius: 4px;
      cursor: pointer;

      svg {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background-color: var(--icon-button-hover);
      }
    }

    &:last-child {
      border: none;
    }
  }
}