.alert-message-container {
  position: fixed;
  top: 10px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 8px;

  .message {
    max-width: min(100%, 300px);
    font-size: 12px;
    padding: 6px 12px;
    border-radius: 8px;
    border: 1px solid var(--outline-color);

    &.info {
      background-color: var(--alert-info);
    }

    &.warning {
      background-color: var(--alert-warning);
    }

    &.error {
      background-color: var(--alert-error);
    }
  }
}