.session-details-view {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .view-title {
    flex-shrink: 0;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: var(--surface-color);
      color: var(--on-surface-color);
      padding: 4px 0;
    }
  }

  .tab-actions {
    position: sticky;
    bottom: 0;
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    border-top: 1px solid var(--outline-color);
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 8px;
    justify-content: space-between;
  }

  .tabs-container {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    .tab {
      padding: 4px 12px;
      cursor: pointer;

      &:hover,
      &.selected {
        background-color: var(--background-hover-color);
      }

      .url,
      .title {
        width: 100%;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
      }

      .url {
        color: var(--on-background-variant-color);
        padding-left: 4px;
      }
    }

  }
}