.sessions-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;

  .limit-number {
    background-color: var(--alert-warning);
    font-size: 12px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 22px;
      padding: 4px;
      cursor: pointer;
    }
  }

  .sessions {
    overflow-y: auto;
    padding-left: 1px;
    margin-right: 2px;
  }

  .new-session-button {
    display: flex;
    padding: 12px 8px;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-size: 12px;

    svg {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background-color: var(--background-hover-color);

      span {
        text-decoration: underline;
      }
    }
  }

  .get-session-title-container {
    display: flex;
    padding: 12px;
    align-items: center;
    gap: 8px;
    height: 44px;

    input {
      background-color: var(--background-color);
      color: var(--on-background-color);
    }

    .confirm-title-button,
    .close-get-title-button {
      padding: 6px 4px;
      border-radius: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 14px;
        height: 14px;
      }

      &:hover {
        background-color: var(--icon-button-hover);
      }
    }

    input {
      flex-grow: 1;
      border: none;
      outline: none;
    }

    button {
      flex-shrink: 0;
    }
  }
}