@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

body,
html,
#__plasmo,
#theme-provider {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  box-sizing: border-box;
}

input,
button {
  font-family: inherit;
}

.sessions-page {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Lexend';

  .sidebar {
    background-color: var(--surface-color);
    color: var(--on-surface-color);
    width: 300px;
    height: 100%;
    flex-shrink: 0;

    .sessions-container {
      display: flex;
      flex-direction: column;
      font-size: 14px;

      .session {
        border-top: 1px solid var(--outline-color);
        cursor: pointer;
        padding: 0 8px;
        transition: background-color 0.13s ease-in;
        display: flex;
        gap: 8px;
        height: 40px;
        align-items: center;

        .tabs-count {
          &.color-1 {
            background-color: rgb(255, 156, 156);
          }

          &.color-2 {
            background-color: #98FF96;
          }

          &.color-3 {
            background-color: #8699FF;
          }

          &.color-4 {
            background-color: rgb(232, 132, 255);
          }

          &.color-5 {
            background-color: rgb(243, 243, 118);
          }
        }

        .tabs-count,
        .main-indicator {
          flex-shrink: 0;
          background-color: var(--primary-color);
          color: var(--on-primary-color);
          border-radius: 4px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 10px;
          font-weight: 700;
        }

        .title {
          flex-grow: 1;
          white-space: nowrap;
          text-align: start;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 11px;
        }


        &:hover {
          background-color: var(--background-hover-color);

          .title {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .main {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;

    .header {
      background-color: var(--surface-color);
      color: var(--on-background-color);
      flex-shrink: 0;
      display: flex;
      height: 56px;
      padding: 12px 24px;
      align-items: center;

      .logo {
        display: flex;
        flex-grow: 1;
        gap: 16px;
        align-items: center;

        .title {
          font-size: 16px;
          text-align: center;
        }

        svg {
          width: 32px;
          height: 32px;
        }
      }

      .settings {
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }

    .toolbar {
      height: 60px;
      flex-shrink: 0;
      display: flex;
      padding: 12px 16px;
      gap: 12px;

      .searchbar {
        flex: 1;
        display: flex;
        gap: 8px;
        border: 1px solid var(--outline-color);
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        height: 36px;
        padding: 0 8px;

        input {
          flex: 1;
          border: none;
          outline: none;
          height: 100%;
        }

        svg {
          font-size: 20px;
        }
      }

      .session-menu {
        flex: 3;
        display: flex;
        align-items: center;
        gap: 16px;

        .title {
          font-size: 16px;
          flex: 1;
          text-align: center;
        }

        .buttons {
          display: flex;
          gap: 16px;

          svg {
            font-size: 20px;
          }
        }
      }
    }

    .tabs-container {
      padding: 24px;
      background-color: var(--background-color);
      flex-grow: 1;
      overflow-y: scroll;
      width: 100%;
      color: var(--on-background-color);
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: start;
      row-gap: 16px;
      column-gap: 24px;
    }
  }
}