html:has(.side-panel),
body:has(.side-panel),
#__plasmo:has(.side-panel),
#theme-provider:has(.side-panel),
.side-panel {
  width: 100%;
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: var(--surface-color);
  width: 6px;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(180, 180, 180);
  border-radius: 8px;
}

.side-panel {
  background-color: var(--background-color);
  color: var(--on-background-color);
  display: flex;
  flex-direction: column;
  gap: 8px;

  .side-panel-buttons-container {
    padding: 4px 8px;
    flex: 0 0 36px;
    align-items: center;
    display: flex;

    .side-panel-buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
      align-items: center;
      border: 1px solid var(--outline-color);
      flex: 1;
      height: 100%;
      border-radius: 12px;

      .button {
        height: 100%;
        flex: 1;
        font-size: 14px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;

        &.active {
          background-color: var(--primary-color);
          color: var(--on-primary-color);
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  .session-title {
    padding: 4px 12px;
    font-size: 16px;
    background-color: var(--surface-color);
    border-top: 1px solid var(--outline-color);
    border-bottom: 1px solid var(--outline-color);
  }

  .sessions-router {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .view-title {
    font-size: 12px;
    padding: 8px 12px;
    font-weight: 700;
    border: 1px solid var(--outline-color);
    background-color: var(--surface-color);
    color: var(--on-surface-color);
  }


}