.session {
  border-top: 1px solid var(--outline-color);

  .session-container {
    &.open {
      border-left: 3px solid #e87100
    }

    cursor: pointer;
    padding: 0 8px;
    transition: background-color 0.13s ease-in;
    display: flex;
    gap: 6px;
    height: 40px;
    align-items: center;

    .tabs-count,
    .main-indicator {
      flex-shrink: 0;
      color: var(--tab-indicator-color);
      border-radius: 4px;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 10px;
      font-weight: 700;
    }

    .title {
      flex-grow: 1;
      white-space: nowrap;
      text-align: start;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
    }


    .session-freeze-button {
      &.freeze {
        background-color: var(--primary-color);
        color: var(--on-primary-color);
      }
    }

    &:hover {
      background-color: var(--background-hover-color);

      .title {
        text-decoration: underline;
      }

    }
  }

  .edit-session-title-container {
    display: flex;
    gap: 8px;
    padding: 0 12px;
    height: 40px;
    align-items: center;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: var(--background-color);
      color: var(--on-background-color);
    }
  }

  .menu-session-container {
    display: flex;
    gap: 8px;
    justify-content: space-between;
    padding: 8px;
    height: 40px;
    align-items: center;

    .tabs-count {
      display: flex;
      align-items: center;
      padding: 2px 8px;
      color: var(--on-primary-color);
      border-radius: 6px;
      font-size: 10px;
      font-weight: 700;
    }

    .main-session-button {
      display: flex;
      align-items: center;
      cursor: pointer;
      border-radius: 6px;
      font-size: 10px;
      height: 100%;
      color: var(--on-background-disabled-color);
      gap: 4px;

      svg {
        width: 14px;
        height: 14px;
      }

      &.main {
        color: var(--on-background-color);
      }
    }

    .buttons-container {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .tabs-count {
      cursor: pointer;

      &:active {
        opacity: 0.8;
      }
    }

    .color-changer {
      top: 100%;
      left: 0;
      position: absolute;
      padding: 4px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      border-radius: 4px;
      width: 100%;
      background-color: var(--surface-color);
      z-index: 100;
      border: 1px solid var(--outline-color);
      margin-top: 4px;

      div {
        width: 100%;
        height: 12px;
      }
    }
  }

  .delete-confirmation-container {
    display: flex;
    gap: 8px;
    padding: 0 8px;
    height: 40px;
    align-items: center;

    .confirmation-text {
      flex-grow: 1;
      font-weight: 700;
    }

  }
}