.toggle-switch-container {
  width: 48px;
  height: 24px;
  background-color: var(--surface-color);
  border-radius: 48px;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid var(--outline-color);

  &[data-checked="true"][data-transition="true"] {
    background-color: var(--primary-color);

    .switch {
      translate: 100%;
      background-color: var(--on-primary-color);
    }
  }

  .switch {
    background-color: var(--on-surface-color);
    transform: scale(0.88);
    transition: 0.2s;
    border-radius: 50%;
    width: 50%;
    height: 100%;
  }
}