#theme-provider[data-theme='light'] {
  --background-color: #fcfcfc;
  --on-background-color: #101010;
  --on-background-variant-color: #393939;
  --on-background-disabled-color: #9e9e9e;
  --primary-color: #45FFF4;
  --on-primary-color: #4c4c4c;
  --surface-color: #f7f7ec;
  --on-surface-color: #5a5a5a;
  --surface-hover-color: #efd3ab;
  --outline-color: #DCDCDC;
  --background-hover-color: #ededed;
  --icon-button-hover: #dce1c8;
}

#theme-provider[data-theme='dark'] {
  --background-color: #1e2127;
  --on-background-color: #fff;
  --on-background-variant-color: #c1c1c1;
  --on-background-disabled-color: #9e9e9e;
  --primary-color: #45fff4;
  --on-primary-color: #4c4c4c;
  --surface-color: #21241f;
  --on-surface-color: #d5d5d5;
  --surface-hover-color: #343224;
  --outline-color: #4c4c4c;
  --background-hover-color: #33363a;
  --icon-button-hover: #5f673c;
}