body {

    --background-color: #fcfcfc;
    --on-background-color: #101010;
    --on-background-variant-color: #3C3C3C;

    --primary-color: #45FFF4;
    --on-primary-color: #fff;

    --surface-color: #f9f9e8;
    --on-surface-color: #696969;

    --outline-color: #DCDCDC;
}