.backups-view {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .backups-container {
    flex-direction: column;
    overflow-y: auto;
    display: flex;

    .file-input-container {

      #file-input {
        display: none;
      }

      .custom-file-input {
        cursor: pointer;
        gap: 8px;
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;
        padding: 0 8px;

        &:hover {
          background-color: var(--background-hover-color);
        }


        svg {
          font-size: 20px;
        }
      }
    }

    .new-backup-button {
      flex-grow: 1;
      display: flex;
      padding: 12px 8px;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      font-size: 12px;

      svg {
        width: 20px;
        height: 20px;
      }

      &:hover {
        background-color: var(--background-hover-color);

        span {
          text-decoration: underline;
        }
      }
    }

    .delete-all-backups-container {
      height: 42px;
      width: 100%;
      flex-shrink: 0;

      .delete-button {
        height: 100%;
        padding: 0 8px;
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        font-size: 12px;

        svg {
          width: 20px;
          height: 20px;
        }

        &:hover {
          background-color: var(--background-hover-color);
        }
      }

      .confirmation-dialouge {
        height: 100%;
        padding: 0 8px;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          flex-grow: 1;
        }

        .confirm-delete-button,
        .close-delete-button {
          padding: 6px 4px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 8px;
          cursor: pointer;
          flex-shrink: 0;

          svg {
            width: 14px;
            height: 14px;
          }

          &:hover {
            background-color: var(--icon-button-hover);
            color: var(--on-icon-button-hover);
          }
        }
      }

    }

    .get-backup-title-container {
      flex-grow: 1;
      display: flex;
      padding: 12px;
      align-items: center;
      gap: 8px;
      height: 44px;

      input {
        background-color: var(--background-color);
        color: var(--on-background-color);
        flex-grow: 1;
        border: none;
        outline: none;
      }

      .confirm-title-button,
      .close-get-title-button {
        padding: 6px 4px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          width: 14px;
          height: 14px;
        }

        &:hover {
          background-color: var(--icon-button-hover);
        }
      }
    }
  }

  .limit-number {
    padding: 4px 8px;
    background-color: var(--alert-warning);
  }
}