.donation-view .container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .wallet-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}